<div class="ibox">
  <div class="ibox-title">
    <h4>Property Profile</h4>
  </div>
  <div class="ibox-content">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <td>Property Name</td>
          <td><%= result.name %></td>
          <td>County</td>
          <td><%= result.county %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= result.address %></td>
          <td>Market Area</td>
          <td><%= result.market_area %></td>
        </tr>
        <tr>
          <td>City</td>
          <td><%= result.city %></td>
          <td>District</td>
          <td><%= result.district %></td>
        </tr>
        <tr>
          <td>State</td>
          <td><%= result.state %></td>
          <td>Landlot</td>
          <td><%= result.landlot %></td>
        </tr>
        <tr>
          <td>Zip</td>
          <td><%= result.zipcode %></td>
          <td>Parcel</td>
          <td><%= result.parcel %></td>
        </tr>
        <tr>
          <td>Cross Road</td>
          <td><%= result.cross_road %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
