<div class="row">
  <div class="col-md-12">
    <%= property_profile record %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= comments record %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= transaction_highlights record %>
  </div>
  <div class="col-md-6">
    <%= financial_highlights record %>
  </div>
</div>

<% if record.respond_to?(:breakouts) %>
  <div class="row">
    <div class="col-md-12">
      <%= unit_breakout record %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= contact_information record %>
  </div>
</div>
